* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}


/* SCROLL BUTTON */

.top {
    --offset: 50px;

    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 45px;
    aspect-ratio: 1;
    background: #10477F;
    border-radius: 10px;
}

.top.active {
    visibility: visible;
}

.top:before {
    content: "";
    position: absolute;
    inset: 30%;
    transform: translateY(20%) rotate(-45deg);
    border-top: 5px solid #FFFFFF;
    border-right: 5px solid #FFFFFF;
}

/* NAV */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px;
    box-shadow: 0 3px 1px #ebebeb;
    background: #fff;
}

/* NAV LOGO */

.navLogoContainer a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.navLogoContainer a>img {
    width: 100px;
}

.navLogoContainer a>p {
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 2px;
    color: #10477F;
}

/* NAV ITENS */

nav ul {
    list-style: none;
}

nav li:first-child {
    margin-right: auto;
}

.navItensContainerDesktop {
    display: flex;
    align-items: center;
    gap: 30px;
}

.showOnDesktop, .showOnMobile {
    font-size: 17px;
    font-weight: 500;
    color: #10477F;
    text-decoration: none;
}

.showOnDesktop:hover {
    color: #4fd2c2;
}

#contactButton, #contactButtonMobile {
    background-color: #4fd2c2;
    padding: 10px;
    border-radius: 10px;
    font-size: 17px;
    font-weight: 500;
    color: #10477F;
    text-decoration: none;
}

#contactButton:hover, #contactButtonMobile:hover {
    opacity: 0.8;
}

/* MOBILE */

.navItensContainerMobile {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    background-color: rgba(255, 255, 255, 0.90);
    backdrop-filter: blur(15px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.2);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 40px;
}

.navItensContainerMobile li {
    width: 100%;
    margin: 0 30px;
}

#navCloseButton {
    margin: 20px 0 0 0;
}

.menuCloseButtonMobile {
    display: none;
}

/* MAIN */

/* SECTION HOME */

.home {
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
    align-items: center;
    padding: 20px 0;
    background: #e7e7e79c;
}

.homeText {
    text-align: justify;
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.homeTitle {
    color: #000;
    font-size: 31px;
    line-height: 45px;
    font-weight: normal;
}

.homeSubtitle, .homeContentText {
    color: #999;
    font-size: 15px;
    font-weight: normal;
    line-height: 25px;
}

.homeButtons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 25px;
}

.homeButtons a {
    display: flex;
    align-items: center;
    gap: 20px;
    text-decoration: none;
    padding: 10px 20px 10px;
    max-width: 180px;
    font-size: 13px;
    border-radius: 10px;
    color: #fff;
    text-align: justify;
}

.homeButtons a>i {
    font-size: 25px;
}

.homeButtonSistema {
    background: #4fd2c2;
}

.homeButtonContato {
    background: #6562a7;
}

.homeImage>img {
    width: 100%;
}


/* SECTION ABOUT */

#about {
    padding: 50px;
    display: flex;
}

.aboutText h2 {
    text-transform: uppercase;
    font-size: 36px;
    color: #111;
    font-weight: 400;
    margin: 30px 0;
    padding: 20px;
    text-align: center;
}

.aboutText p {
    margin: 0 auto;
    font-size: 16px;
    max-width: 760px;
    text-align: justify;
    line-height: 25px;
    color: #999;
    padding: 25px;
}

/* CARDS */

#aboutCardContainer {
    display: flex;
    justify-content: center;
    padding: 50px;
    flex-wrap: wrap;
}

.aboutCard {
    max-width: 300px;
    background-color: #4fd2c2;
    max-height: 660px;
}

.aboutCard a {
    text-decoration: none
}

.aboutCardContent {
    padding: 15px;
}

.aboutCardImage {
    object-fit: cover;
    width: 100%;
}

.aboutCardTitle {
    color: #fff;
    font-size: 22px;
    line-height: 25px;
    height: 45px;
    font-weight: 500;
    text-align: center;
}

.aboutCardDesc {
    margin: 20px 0;
    color: #fff;
    font-size: 15px;
    text-align: center;
}

.aboutCardList {
    color: #fff;
    margin: 0px 0px 0 15px;
    font-size: 15px;
}

.aboutCardListItem {
    margin-bottom: 10px;
}

#aboutCardSearch {
    background-color: #4fd2c2;
    border-radius: 10px 0 0 10px;
}

#aboutCardSearch img {
    border-radius: 10px 0 0 0;
}

#aboutCardGeneration {
    background: #6562a7;
}

#aboutCardDocs {
    background: #ff3366;
}

#aboutCardAgility {
    background: #d667cd;
    border-radius: 0 10px 10px 0;
}

#aboutCardAgility img {
    border-radius: 0 10px 0 0;
}

/* RESPONSIBILITY */

@media (max-width: 1300px) {
    #cardContainer {
        padding: 50px 30px;
    }
}

@media (max-width: 1290px) {

    #aboutCardDocs, #aboutCardDocs img {
        background: #ff3366;
        border-radius: 0 10px 10px 0;
    }

    #aboutCardDocs img {
        border-radius: 0 10px 0 0;
    }

    #aboutCardAgility, #aboutCardAgility img {
        background: #d667cd;
        border-radius: 0 0 10px 10px;
    }

    #aboutCardAgility img {
        border-radius: 0;
    }
}


@media (max-width: 1050px) {
    /* NAV */

    nav {
        justify-content: space-between;
    }

    .showOnDesktop, #contactButton, .callNavContainer {
        display: none;
    }

    .menuCloseButtonMobile {
        margin-left: 20px;
    }

    .menuCloseButtonMobile {
        display: block;
    }

    /* SECTION HOME */

    .home {
        flex-direction: column;
    }

    .homeText {
        margin: 30px 0 0;
        width: 85%;
    }

    /* ABOUT CARDS */

    #aboutCardSearch {
        border-radius: 10px 0 0 0;
    }

    #aboutCardGeneration {
        border-radius: 0 10px 0 0;
    }

    #aboutCardGeneration img {
        border-radius: 0 10px 0 0;
    }

    #aboutCardDocs {
        border-radius: 0 0 0 10px;
    }

    #aboutCardAgility {
        border-radius: 0 0 10px 0;
    }

    #aboutCardAgility img, #aboutCardDocs img {
        border-radius: 0;
    }
}


@media (max-width: 720px) {
    #aboutCardSearch, #aboutCardSearch img {
        border-radius: 10px 10px 0 0;
    }

    #aboutCardDocs, #aboutCardDocs img, #aboutCardAgility img, #aboutCardGeneration, #aboutCardGeneration img {
        border-radius: 0;
    }

    #aboutCardAgility {
        border-radius: 0 0 10px 10px;
    }
}

@media (max-width: 600px) {

    nav {
        padding: 15px;
    }

    .navLogoContainer a>p {
        font-size: 20px;
    }

    .navLogoContainer a>img {
        width: 80px;
    }

    .navItensContainerDesktop {
        gap: 0;
    }
}